<button fd-button id="list-vocabularies-createAction">Create</button>
<table fd-table>
    <thead fd-table-header>
        <tr fd-table-row>
            <th fd-table-cell>Language</th>
            <th fd-table-cell>Language</th>
            <th fd-table-cell>Level</th>
            <th fd-table-cell>Due Date</th>
        <tr>
    </thead>
    <tbody fd-table-body>
        <tr *ngFor="let vocabulary of vocabularies; index as i" fd-table-row>
            <td fd-table-cell id="list-vocabularies-language_a-{{i}}"> {{ vocabulary.language_a }}</td>
            <td fd-table-cell id="list-vocabularies-language_b-{{i}}"> {{ vocabulary.language_b }}</td>
            <td fd-table-cell id="list-vocabularies-level-{{i}}"> {{ vocabulary.level}}</td>
            <td fd-table-cell id="list-vocabularies-dueDate-{{i}}"> {{ vocabulary.dueDate }}</td>
        </tr>
    </tbody>
</table>
