<!-- Form -->
<h3>Add Vocabulary</h3>
<form *ngIf="addVocabularyForm && lesson" [formGroup]="addVocabularyForm" (ngSubmit)="submitForm()" novalidate>
    <div fd-form-item>
        <label fd-form-label for="add-vocabulary-language_a">{{lesson.language_a}}</label>
        <input fd-form-control type="text" formControlName="language_a" maxlength="20" id="add-vocabulary-language_a">
    </div>
    <div fd-form-item>
        <label fd-form-label for="add-vocabulary-language_b">{{lesson.language_b}}</label>
        <input fd-form-control type="text" formControlName="language_b" maxlength="20"id="add-vocabulary-language_b">
    </div>
    <button fd-button id="add-vocabulary-addButton" type="submit">Add</button>
    <button fd-button id="add-vocabulary-cancelButton" type="button" (click)="cancel()">Cancel</button>
</form>