<h3 *ngIf="lesson">{{ lesson.title}}</h3>
<button fd-button id="list-vocabulary-createAction" (click)=createVocabulary()>Create</button>
<table *ngIf="lesson" fd-table>
    <thead fd-table-header>
        <tr fd-table-row>
            <th fd-table-cell>{{lesson.language_a}}</th>
            <th fd-table-cell>{{lesson.language_b}}</th>
            <th fd-table-cell>Level</th>
            <th fd-table-cell>Due Date</th>
            <th fd-table-cell>Actions</th>
        <tr>
    </thead>
    <tbody fd-table-body>
        <tr *ngFor="let vocabulary of vocabulary; index as i" fd-table-row>
            <td fd-table-cell id="list-vocabulary-language_a-{{i}}">{{ vocabulary.language_a }}</td>
            <td fd-table-cell id="list-vocabulary-language_b-{{i}}">{{ vocabulary.language_b }}</td>
            <td fd-table-cell id="list-vocabulary-level-{{i}}">{{ vocabulary.level}}</td>
            <td fd-table-cell id="list-vocabulary-dueDate-{{i}}">{{ vocabulary.dueDate | date:'shortDate' }}</td>
            <td fd-table-cell>
                <fd-split-button id="list-vocabulary-editAction-{{i}}" (primaryButtonClicked)="updateVocabulary(vocabulary.id)" [mainActionTitle]="'Edit'">
                    <div fd-split-button-menu>
                        <fd-menu>
                            <ul fd-menu-list>
                                <li fd-menu-item id="list-vocabulary-deleteAction-{{i}}" (click)="deleteVocabulary(vocabulary.id)">
                                    Delete
                                </li>
                            </ul>
                        </fd-menu>
                    </div>
                </fd-split-button>
            </td>
        </tr>
    </tbody>
</table>
