<!-- Form -->
<h3>Add Lesson</h3>
<form [formGroup]="lessonForm" (ngSubmit)="submitForm()" novalidate>
    <div fd-form-item>
        <label fd-form-label for="add-lesson-title">Title</label>
        <input fd-form-control type="text" formControlName="title" maxlength="20" id="add-lesson-title">
    </div>
    <div fd-form-item>
        <label fd-form-label for="add-lesson-language_a">Learned language</label>
        <input fd-form-control type="text" formControlName="language_a" maxlength="20" id="add-lesson-language_a">
    </div>
    <div fd-form-item>
        <label fd-form-label for="add-lesson-language_b">Known language</label>
        <input fd-form-control type="text" formControlName="language_b" maxlength="20"id="add-lesson-language_b">
    </div>
    <button fd-button type="submit">Create</button>
</form>