<fd-layout-grid [col]="3">
    <P></P>
    <P style="text-align:center; vertical-align: bottom">{{questionedVocabulary}}/{{numberDueVocabularies}}</P>
    <p style="text-align:right"><button fd-button [glyph]="'sys-cancel'" id="quiz-cancel" (click)=cancel()></button></p>
</fd-layout-grid>
<P></P>
<fd-layout-grid [col]="3" *ngIf="vocabulary">
    <fd-panel>
        <fd-panel-body>
            <div fd-form-item>
                <label fd-form-label for="quiz-knownLanguageLabel">{{lesson.language_a}}</label>
                <textarea fd-form-control id="quiz-knownLanguage" rows="10"
                    readonly>{{vocabulary.language_a}}</textarea>
            </div>
        </fd-panel-body>
    </fd-panel>
    <fd-panel>
        <fd-panel-body>
            <div fd-form-item>
                <label fd-form-label for="quiz-learnedLanguageLabel">{{lesson.language_b}}</label>
                <textarea fd-form-control id="quiz-learnedLanguage" rows="10" [state]="entryFieldState" [(ngModel)]="enteredResponse" (keyup.enter)="checkResponse()"></textarea>
            </div>
            <button *ngIf="displayCheckResponseButton" fd-button id="quiz-checkResponse" (click)=checkResponse()>Check
                response</button>
            <button *ngIf="displayValidateResponseButton" fd-button id="quiz-validResponse" (click)=validResponse()>Valid
                response</button>
            <button *ngIf="displayInvalidateResponseButton" fd-button id="quiz-invalidResponse" (click)=invalidResponse()>Invalid
                response</button>
            <button *ngIf="displayNextButton" fd-button id="quiz-next" (click)=next()>Next</button>
        </fd-panel-body>
    </fd-panel>
    <fd-panel>
        <fd-panel-body>
            <div fd-form-item>
                <label fd-form-label for="quiz-correctResponseLabel">Correct Response</label>
                <textarea fd-form-control id="quiz-correctResponse" rows="10" readonly>{{correctResponse}}</textarea>
            </div>
        </fd-panel-body>
    </fd-panel>
</fd-layout-grid>
<p *ngIf="!vocabulary">
    <fd-message-strip [type]="'error'" [dismissible]="false" *ngIf="lesson">
        No due vocabulary in lesson "{{lesson.title}}"
    </fd-message-strip>
</p>