<button fd-button (click)='createLesson()'>Create</button>

<table fd-table>
    <thead fd-table-header>
        <tr fd-table-row>
        <th fd-table-cell>Title</th>
        <th fd-table-cell>Language</th>
        <th fd-table-cell>Language</th>
        <th fd-table-cell>#Vocabularies</th>
        <th fd-table-cell>#Due Vocabularies</th>
        <th fd-table-cell>Actions</th>
        <tr>
    </thead>
    <tbody fd-table-body>
        <tr *ngFor="let lesson of lessons" fd-table-row>
            <td fd-table-cell> {{ lesson.title }}</td>
            <td fd-table-cell> {{ lesson.language_a }}</td>
            <td fd-table-cell> {{ lesson.language_b }}</td>
            <td fd-table-cell> {{ lesson.numberVocables}}</td>
            <td fd-table-cell> {{ lesson.numberDueVocables }}</td>
            <td fd-table-cell> 
                <button fd-button (click)="editLesson(lesson.id)">Edit</button>
                <button fd-button (click)="deleteLesson(lesson.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
