<button fd-button id="list-lessons-createAction" (click)='createLesson()'>Create</button>

<table fd-table>
    <thead fd-table-header>
        <tr fd-table-row>
            <th fd-table-cell>Title</th>
            <th fd-table-cell>Language</th>
            <th fd-table-cell>Language</th>
            <th fd-table-cell>#Vocabularies</th>
            <th fd-table-cell>#Due Vocabularies</th>
            <th fd-table-cell>Actions</th>
        <tr>
    </thead>
    <tbody fd-table-body>
        <tr *ngFor="let lesson of lessons; index as i" fd-table-row>
            <td fd-table-cell id="list-lessons-title-{{i}}"> {{ lesson.title }}</td>
            <td fd-table-cell id="list-lessons-language_a-{{i}}"> {{ lesson.language_a }}</td>
            <td fd-table-cell id="list-lessons-language_b-{{i}}"> {{ lesson.language_b }}</td>
            <td fd-table-cell id="list-lessons-numberVocables-{{i}}"> {{ lesson.numberVocables}}</td>
            <td fd-table-cell id="list-lessons-numberDueVocables-{{i}}"> {{ lesson.numberDueVocables }}</td>
            <td fd-table-cell>
                <fd-split-button id="list-lessons-quizAction-{{i}}" (primaryButtonClicked)="lessonQuiz(lesson.id)" [mainActionTitle]="'Quiz'">
                    <div fd-split-button-menu>
                        <fd-menu>
                            <ul fd-menu-list>
                                <li fd-menu-item id="list-lessons-editAction-{{i}}" (click)="updateLesson(lesson.id)">
                                    Edit
                                </li>
                                <li fd-menu-item id="list-lessons-deleteAction-{{i}}" (click)="deleteLesson(lesson.id)">
                                    Delete
                                </li>
                                <li fd-menu-item id="list-lessons-vocabularyAction-{{i}}" (click)="lessonVocabulary(lesson.id)">
                                    Vocabulary
                                </li>
                            </ul>
                        </fd-menu>
                    </div>
                </fd-split-button>
            </td>
        </tr>
    </tbody>
</table>